<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{user_name}} has rejected your request of being a team member to {{company_name}}.</title>
    <style>@import url("https://fonts.googleapis.com/css?family=Roboto");
    @import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
    body {
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-weight: 100;
    }

    a {
        color: #5aaae6;
    }

    .email-background {
        background: url("https://i.imgur.com/SvkDiig.png"), #fafafaef;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 600px;
        padding: 14px 10px 0 10px;
        margin: 20px auto;
        border-radius: 8px;
    }

    .email-header {
        background: url("https://i.imgur.com/pq3UM0o.png");
        max-width: 580px;
        height: 164px;
        margin: 0 auto;
        border-radius: 8px 8px 0 0;
        position: relative;
    }

    .email-body {
        position: relative;
        background: #ffffff;
        max-width: 580px;
        margin: 0 auto;
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0 4px 5px 0 rgba(219, 219, 219, 0.5);
    }

    @media screen and (max-width: 400px) {
        .email-body h1 {
            font-size: 1.5rem !important;
        }
    }

    .email-footer {
        position: relative;
    }

    .email-footer ul {
        list-style-type: none;
        padding-right: 30px;
    }

    .email-footer ul li {
        display: inline;
        margin-right: 20px;
    }

    .email-footer h1 {
        font-weight: 100;
    }

    .email-footer p {
        font-weight: 100;
    }

    @media screen and (max-width: 400px) {
        .email-footer li {
            margin-right: 5px !important;
        }
        .email-footer li img {
            transform: scale(0.8) !important;
        }
    }

    .row {
        margin: 0 70px;
        padding: 40px 0;
    }

    @media screen and (max-width: 400px) {
        .row {
            margin: 0 20px !important;
            padding: 20px 0 !important;
        }
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .divider {
        max-width: 500px;
        border: solid 0.5px #eee;
        margin: 20px auto;
    }

    .logo {
        height: 70px;
        width: 100%;
        background-image: url("https://i.imgur.com/FfJGIqH.png");
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 30px;
    }

    @media screen and (max-width: 400px) {
        .logo {
            transform: scale(0.8) !important;
        }
    }

    .title {
        color: white;
        text-align: center;
    }

    .footer-img {
        height: 48px;
        width: 160px;
        background-image: url("https://i.imgur.com/nimikkk.png");
        background-repeat: no-repeat;
    }

    .footer-copyright {
        margin: 100px 30px 0 30px;
        padding-bottom: 40px;
    }

    @media screen and (max-width: 400px) {
        .footer-img {
            display: none !important;
        }
    }

    .img-one {
        height: 82px;
        width: 63px;
        margin-top: 40px;
        margin-left: 30px;
        background-image: url("https://i.imgur.com/fGkTeLH.png");
        background-repeat: no-repeat;
    }

    .img-two {
        height: 82px;
        width: 63px;
        margin-right: 40px;
        background-image: url("https://i.imgur.com/3Vz1FJa.png");
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 400px) {
        .img-one {
            display: none;
        }
        .img-two {
            display: none;
        }
    }


    /*# sourceMappingURL= style.css.map */</style>
</head>

<body>
<div class="email-background">
    <!-- header -->
    <div class="email-header">
        <div class="logo"></div>
        <div class="title">
            <h3>
                <em>
                    <b>Elevate</b>
                </em> Your Professional Presence</h3>
        </div>
    </div>
    <!-- body -->
    <div class="email-body">
        <div class="divider"></div>
        <div class="row">
            <h1>Dear company admin,</h1>
            <p>{{user_name}} has rejected your request of being a team member to {{company_name}}.</p>
            <p>Thank you and regards,</p>
            <p>Team Indorse</p>
            <p>
                Please let us know if you have any problems or questions at: help@indorse.io</p>
        </div>
    </div>
    <!-- footer -->
    <div class="email-footer">
        <div class="row align-center">
            <h1>Join Community</h1>
        </div>
        <div class="align-center">
            <ul>
                <li>
                    <a href="https://twitter.com/joinIndorse" target="blank">
                        <img src="https://i.imgur.com/QQU5iBp.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://blog.indorse.io/" target="blank">
                        <img src="https://i.imgur.com/IcoZYy3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="mailto:info@indorse.io" target="blank">
                        <img src="https://i.imgur.com/5JcntTA.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <table>
                <tr>
                    <td>
                        <div class="footer-img"></div>
                    </td>
                    <td>
                        <p>&copy; 2018 Indorse Pte. Ltd. You're receiving this because you're a Indorse registered
                            user.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>


</html>