doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Welcome
        style(type='text/css').
            @import url("https://fonts.googleapis.com/css?family=Roboto");
            @import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");

            @media screen and (max-width: 400px) {
                .email-body h1 {
                    font-size: 1.5rem !important;
                }
            }

            @media screen and (max-width: 400px) {
                .email-footer li {
                    margin-right: 5px !important;
                }

                .email-footer li img {
                    transform: scale(0.8) !important;
                }
            }

            @media screen and (max-width: 400px) {
                .row {
                    margin: 0 20px !important;
                    padding: 20px 0 !important;
                }
            }

            @media screen and (max-width: 400px) {
                .logo {
                    transform: scale(0.8) !important;
                }
            }

            @media screen and (max-width: 400px) {
                .footer-img {
                    display: none !important;
                }
            }

            @media screen and (max-width: 400px) {
                .img-one {
                    display: none;
                }

                .img-two {
                    display: none;
                }
            }

            /*# sourceMappingURL= style.css.map */
    body(style='margin:0 auto;font-family:"Roboto", sans-serif;')
        .email-background(style='background:url("https://i.imgur.com/SvkDiig.png"), #fafafaef;background-repeat:no-repeat;background-size:cover;max-width:600px;padding:14px 10px 0 10px;margin:20px auto;border-radius:8px;')
            // header
            .email-header(style='background:url("https://i.imgur.com/pq3UM0o.png");max-width:580px;height:164px;margin:0 auto;border-radius:8px 8px 0 0;position:relative;')
                .logo(style='height:70px;width:100%;background-image:url("https://i.imgur.com/FfJGIqH.png");background-repeat:no-repeat;background-position:center;padding-top:30px;')
                .title(style='color:white;text-align:center;')
                    h3(style='font-weight:100;')
                        em
                            b Elevate
                        |  Your Professional Presence
            // body
            .email-body(style='position:relative;background:#ffffff;max-width:580px;margin:0 auto;border-radius:0px 0px 8px 8px;box-shadow:0 4px 5px 0 rgba(219, 219, 219, 0.5);')
                table
                    tr.row.align-center(style='margin:0 70px;padding:40px 0;text-align:center;')
                        td
                            .img-one(style='height:82px;width:63px;margin-top:40px;margin-left:30px;background-image:url("https://i.imgur.com/fGkTeLH.png");background-repeat:no-repeat;')
                        td
                            h1(style='font-weight:100;font-weight: 100;') Thank you for signing up at Indorse
                        td
                            .img-two(style='height:82px;width:63px;margin-right:40px;background-image:url("https://i.imgur.com/3Vz1FJa.png");background-repeat:no-repeat;')
                .divider(style='max-width:500px;border:solid 0.5px #eee;margin:20px auto;')
                .row(style='margin:0 70px;padding:40px 0;')
                    h1(style='font-weight:100;') Hi #{name},
                    p(style='font-weight:100;') Welcome to the Indorse community.
                    p(style='font-weight:100;')
                        | You have claimed &#32;
                        a(href='#{username}', style='color:#5aaae6;') #{username}
                    h2(style='font-weight:100;') Next:
                    ol
                        li
                            p(style='font-weight:100;') Add your profile photo
                        li
                            p(style='font-weight:100;') Update your profile
                        li
                            p(style='font-weight:100;') Import your LinkedIn Profile
                    p(style='font-weight:100;') Thank you,
                    p(style='font-weight:100;') Team Indorse
                    p(style='font-weight:100;')
                        | If you have any problems or questions, please reply to this email or join our community at &#32;
                        a(href='https://community.indorse.io', target='_blank', style='color:#5aaae6;') https://community.indorse.io
                        |  and talk to the core team directly.
            // footer
            .email-footer(style='position:relative;')
                .row.align-center(style='margin:0 70px;padding:40px 0;text-align:center;')
                    h1(style='font-weight:100;') Join the community
                .align-center(style='text-align:center;')
                    ul(style='list-style-type:none;padding-right:30px;')
                        li(style='display:inline;margin-right:20px;')
                            a(href='https://twitter.com/joinIndorse', target='blank', style='color:#5aaae6;')
                                img(src='https://i.imgur.com/QQU5iBp.png', alt='')
                        li(style='display:inline;margin-right:20px;')
                            a(href='https://blog.indorse.io/', target='blank', style='color:#5aaae6;')
                                img(src='https://i.imgur.com/IcoZYy3.png', alt='')
                        li(style='display:inline;margin-right:20px;')
                            a(href='mailto:info@indorse.io', target='blank', style='color:#5aaae6;')
                                img(src='https://i.imgur.com/5JcntTA.png', alt='')
                .footer-copyright(style='margin:100px 30px 0 30px;padding-bottom:40px;')
                    table
                        tr
                            td
                                .footer-img(style='height:48px;width:160px;background-image:url("https://i.imgur.com/nimikkk.png");background-repeat:no-repeat;')
                            td
                                p(style='font-weight:100;')
                                    | © 2018 Indorse Pte. Ltd. You're receiving this because you're a Indorse registered
                                    | user.
